* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #002339;
  color: #ffffff;
}

.container {
  margin: 12%;
  width: 80%;
  max-width: 700px;

  h1 {
    font-weight: 500;
    font-size: 2.5rem;
  }

  span {
    color: #019f55;
    border-bottom: 4px solid #019f55;
  }

  button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 2rem;
    border-radius: 4px;
    cursor: pointer;

    img {
      width: 2rem;
      margin-right: 1rem;
    }
  }
}

.display {
  width: 100%;
  margin: 3rem 0 5rem 0;
  background: #ffffff;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  border-radius: 4px;

  img {
    width: 2rem;
    cursor: pointer;
  }

  input {
    border: 0;
    outline: 0;
    font-size: 1.5rem;
  }
}

/* media query for mobile devices */
@media only screen and (max-width: 768px) {
  .container {
    margin: 5%;
    width: 90%;
  }

  .container h1 {
    font-size: 1.8rem;
  }

  .display {
    margin: 2rem 0;
    padding: 1.5rem 1rem;
  }

  .display input {
    font-size: 1.2rem;
  }

  .display img {
    width: 1.5rem;
  }

  .container button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  .container button img {
    width: 1.5rem;
  }
}